* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.debug .sidebar {
  background-color: red;
}

.debug [class^="col_"] {
    height: 100%;
    border: 1px dashed white;
}

.debug #main_container [class^="col_"] {
    height: 250px;
    border: 1px dashed black;
}

.debug [class^="side_"] {
    border: 1px dashed white;
    color: white;
}

.debug #labels {
    background-color: palegreen;
    border: 1px solid white;
}

.debug #played {
    background-color: palegoldenrod;
    border: 1px solid white;
}

.debug #created {
    background-color: paleturquoise;
    border: 1px solid white;
}

.debug #popular {
    background-color: palevioletred;
    border: 1px solid white;
}

.debug .banner {
    background-color: beige;
    height: 90px;
}









/*debug_zone*/

.top {
    height: calc(100vh - 70px);
    display: flex;
}

.top>.sidebar {
    width: 70px;
    overflow: hidden;
}
.top .sidebar_top{
    height: calc(100% - 60px);
   
}
.top>.content {
    
    width: calc(100% - 70px);
    overflow-y: auto;
}

footer .bottom {
    height: 70px;
}

.banner {
    padding:  2rem;
    margin: 1rem;
  
}



.row{
    width: 100%;
    display: flex;
}


.col_12{
    width: 100%;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_6 {
    width: calc(100% / 12 * 6);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}





/*resposive*/


@media screen and (min-width: 768px) {

    .top>.sidebar {
        width: 220px;
    }

    .top>.content {
width: calc(100% - 220px);
    }


}